 /* Estilização de toda a Barra de Navegação */
  #navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  #logoNav{
    justify-content: right;
  }
  
  #navbar ul {
    list-style: none;
    display: flex;
  }
  
  #navbar li {
    margin: 0 20px;
  }
  
  #navbar a {
    text-decoration: none;
    color: white;
  }

   /* Estilização do Rodapé da Página */
    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 20px 0;
    }
    
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
    }

    /* Estiliza o tamanho da imagem no Footer */
      footer img {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    /* Estilização da cor do Body da Página */
    body{
        background-color: rgb(211, 211, 211);
    }

     /* Estilização dos Títulos das Páginas */
    h1 {
        font-size: 40px;
        text-align: center;
        color: #3d3b3a;
      }

    /* Estilização do texto do formulário */
      #deixeAqui{
        font-size: 30px;
        margin-left: 200px;
      
      }

    /* Estilização do formulário */
      #formulario{
        font-size: 20px;
        margin-left: 200px;
      }